script(id="subjects-view", type="text/x-handlebars-template")
    div(
        class='view-form,'
        id="subjectsViewDialog", 
        title="Субъект"
        data-title-view="Информация по субъекту",
        data-title-edit="Рекдактирование субъекта",
        data-title-create="Добавление субъекта",
    )
        p(class="validateTips") Все поля формы обязательны для заполнения
        form        
            fieldset
                label ID
                    input(type="text", name="id", class="text ui-widget-content ui-corner-all", placeholder="ID субъекта/системное", readonly)
                label Тип субъекта
                    select(id="type", name="type", class="text ui-widget-content ui-corner-all")
                        option(value="ИП") ИП
                        option(value="Физ-лицо") Физ-лицо
                        option(value="Компания") Компания
            fieldset
                label Название/ФИО
                    input(type="text", name="name", class="text ui-widget-content ui-corner-all", placeholder='Наименование')
            fieldset
                label ИНН
                    input(type="text", name="INN", class="text ui-widget-content ui-corner-all", placeholder='ИНН субъекта')
                label КПП
                    input(type="text", name="KPP", class="text ui-widget-content ui-corner-all", placeholder='КПП субъекта')
            fieldset
                label Доп. информация
                    br
                    textarea(rows="4", name="description", class="text ui-widget-content ui-corner-all", placeholder='Дополнительная информация', style="width: 100%")
            fieldset
                label Системная
                    input(type="checkbox", name="isSystem", class="text ui-widget-content ui-corner-all")
                input(type="hidden", name="_csrf")
            input(type="submit", tabindex="-1", style="position:absolute; top:-1000px")

