script(id="transactions-add", type="text/x-handlebars-template")
    div(
        class="transactionsAdd",
        title="Добавление транзакции"
    )
        form(action='/transactions')
            div Новая транзакция
            fieldset
                label Описание
                    br
                    textarea(rows="4", name="comments", placeholder='Описание', style="width: 100%")
            fieldset
                label Тип транзакции
                select(
                    name="TransactionTypeId", 
                    data-pre-init="true",
                    data-pre-init-function="fetchSelect",
                    data-url='/transactiontypes',
                    data-label-template='((name))',
                    data-vaue='id',
                    data-target-field-value='defaultTax||formula',
                    data-bind-change='transferValueFromSelect'
                )
                label Комиссия
                    input(name='tax' data-autofill='defaultTax')
                label Подсказка формулы
                    input(name='fixedFormula' data-autofill='formula')
            fieldset
                label Дата
                    input(type="text", name="submittedAt", placeholder='Дата' class='datepicker')
                label Номер заказа
                    input(type="text", name="orderNumber", placeholder='Номер заказа')
                label Сумма исходящая
                    input(type="text", name="fromSum", placeholder='Сумма')
            fieldset
                label От субъекта
                    input(
                        type="text", 
                        data-name='fromSubjectId throughSubjectId',
                        data-name-field='id',
                        data-info-label-field='name', 
                        data-info-label='fromSubjectIdLabel throughSubjectIdLabel', 
                        placeholder='От субъекта' 
                        class='autocomplete' 
                        data-autocomplete-url='/subjects/autocomplete'
                        data-post-init-target='[name=fromAccountId]'
                    )
                    input(name="fromSubjectId", style='display:none;')
                    label(data-info-label="fromSubjectIdLabel", style='display:none;color: green;')
                
                label Через субъекта
                input(
                    type="text", 
                    data-name='throughSubjectId',
                    data-name-field='id',
                    data-info-label-field='name', 
                    data-info-label='throughSubjectIdLabel', 
                    placeholder='Через субъект' 
                    class='autocomplete',
                    data-autocomplete-url='/subjects/autocomplete',
                    data-post-init-target='[name=fromAccountId]'
                )
                input(name="throughSubjectId", style='display:none;')
                label(data-info-label="throughSubjectIdLabel", style='display:none;color: green;')
                
                label На субъект
                input(
                    type="text", 
                    data-name='toSubjectId',
                    data-name-field='id',
                    data-info-label-field='name', 
                    data-info-label='toSubjectIdLabel', 
                    placeholder='На субъект' 
                    class='autocomplete' 
                    data-autocomplete-url='/subjects/autocomplete',
                    data-post-init-target='[name=toAccountId]'
                )
                input(name="toSubjectId", style='display:none;')
                label(data-info-label="toSubjectIdLabel", style='display:none;color: green;')

            
            
            
            fieldset
                label Со счёта
                select(
                    name="fromAccountId", 
                    data-pre-init="false",
                    data-pre-init-function="fetchSelect",
                    data-url='/accounts',
                    data-label-template='((name)): ((amount)) ((CurrencyId))',
                    data-vaue='id',
                    data-post-init-functions='initSelect'
                    data-query-param='SubjectId'
                    data-query-param-value-selector='[name="throughSubjectId"]'
                )
                label На счёт
                select(
                    name="toAccountId", 
                    data-pre-init="false",
                    data-pre-init-function="fetchSelect",
                    data-url='/accounts',
                    data-label-template='((name)): ((amount)) ((CurrencyId))',
                    data-vaue='id',
                    data-post-init-functions='initSelect'
                    data-query-param='SubjectId'
                    data-query-param-value-selector='[name="toSubjectId"]'
                )
            input(type="submit")

