script(id="transactions-add", type="text/x-handlebars-template")
    div(
        class="transactionsAdd",
        title="Добавление транзакции"
    )
        form(action='/transactions' data-bind-submit='addNewOperation')
            fieldset
                label
                    input(type='checkbox', data-bind-change='toogleElementVisible', data-target-element='.operation-container' name='create_operation')
                    span Создать операцию
            div.operation-container(style='display: none') Новая Операция
                fieldset
                    label Описание
                        br
                        textarea(rows="4", name="description", placeholder='Описание', style="width: 100%")
            div Новая транзакция
            fieldset
                label Комментарий
                    br
                    textarea(rows="4", name="comments", placeholder='Комментарий', style="width: 100%")
            fieldset
                label Тип транзакции
                select(
                    name="TransactionTypeId", 
                    data-pre-init="true",
                    data-pre-init-function="fetchSelect",
                    data-url='/transactiontypes',
                    data-label-template='((name))',
                    data-vaue='id',
                    data-target-field-value='defaultTax||formula',
                    data-bind-change='transferValueFromSelect'
                )
                label Комиссия
                    input(name='tax' data-autofill='defaultTax')
                label Подсказка формулы
                    input(name='fixedFormula' data-autofill='formula')
            fieldset
                label Дата
                    input(type="text", name="submittedAt", placeholder='Дата' class='datepicker')
                label Номер заказа
                    input(type="text", name="orderNumber", placeholder='Номер заказа')
                label Сумма исходящая
                    input(type="text", name="fromSum", placeholder='Сумма')
            fieldset
                label От субъекта
                    input(
                        type="text", 
                        data-name='fromAccountSubjectId fromSubjectId',
                        data-name-field='id',
                        data-info-label-field='name', 
                        data-info-label='fromAccountSubjectIdLabel fromSubjectIdLabel',
                        placeholder='От субъекта' 
                        class='autocomplete' 
                        data-autocomplete-url='/subjects/autocomplete'
                        data-post-init-target='[name=fromAccountId]'
                    )
                    input(name="fromAccountSubjectId", style='display:none;')
                    label(data-info-label="fromAccountSubjectIdLabel", style='display:none;color: green;')
                
                label Через субъекта
                input(
                    type="text", 
                    data-name='fromSubjectId',
                    data-name-field='id',
                    data-info-label-field='name', 
                    data-info-label='fromSubjectIdLabel',
                    placeholder='Через субъект' 
                    class='autocomplete',
                    data-autocomplete-url='/subjects/autocomplete'
                )
                input(name="fromSubjectId", style='display:none;')
                label(data-info-label="fromSubjectIdLabel", style='display:none;color: green;')
            fieldset
                label На субъект
                    input(
                    type="text",
                    data-name='toAccountSubjectId toSubjectId',
                    data-name-field='id',
                    data-info-label-field='name',
                    data-info-label='toAccountSubjectIdLabel toSubjectIdLabel',
                    placeholder='От субъекта'
                    class='autocomplete'
                    data-autocomplete-url='/subjects/autocomplete'
                    data-post-init-target='[name=toAccountId]'
                    )
                    input(name="toAccountSubjectId", style='display:none;')
                    label(data-info-label="toAccountSubjectIdLabel", style='display:none;color: green;')

                label Через субъект
                input(
                type="text",
                data-name='toSubjectId',
                data-name-field='id',
                data-info-label-field='name',
                data-info-label='toSubjectIdLabel',
                placeholder='Через субъект'
                class='autocomplete',
                data-autocomplete-url='/subjects/autocomplete'
                )
                input(name="toSubjectId", style='display:none;')
                label(data-info-label="toSubjectIdLabel", style='display:none;color: green;')

            
            fieldset
                label Со счёта
                select(
                    name="fromAccountId", 
                    data-pre-init="false",
                    data-pre-init-function="fetchSelect",
                    data-url='/accounts',
                    data-label-template='((name)): ((amount)) ((CurrencyId))',
                    data-vaue='id',
                    data-post-init-functions='initSelect'
                    data-query-param='SubjectId'
                    data-query-param-value-selector='[name="fromSubjectId"]'
                )
                label На счёт
                select(
                    name="toAccountId", 
                    data-pre-init="false",
                    data-pre-init-function="fetchSelect",
                    data-url='/accounts',
                    data-label-template='((name)): ((amount)) ((CurrencyId))',
                    data-vaue='id',
                    data-post-init-functions='initSelect'
                    data-query-param='SubjectId'
                    data-query-param-value-selector='[name="toSubjectId"]'
                )
            input(type="submit")

