block vars

div(class='main__block m-2x' data-main-block='true' id='#{hashLink}')
    i(class='fa fa-heart main__block-in-fav' title='В избранном' data-bind-click='blockToogleFavs' data-block-fav='true')
    i(class='fa fa-minus-square-o main__block-collapse' data-bind-click='blockCollapseToggle' title='Схлопнуть блок')
    i(class='fa fa-plus-square-o main__block-uncollapse' data-bind-click='blockCollapseToggle' title='Раскрыть блок')
    div(class='main__block-logo #{blockIcon}')
    div(class='main__block-title') #{blockTitle}
    div(class='main__block-search__container')
        - var dataSelector = 'data-search-' + searchSelector
        - var attributes = {}
        - attributes[dataSelector] = 'true'

        input(
            class='main__block-search__input'
            placeholder='Введите запрос'
            autocomplete='off'
            data-bind-keypress='simpleSearchSubmit'
        )&attributes(attributes)
        div(
            class='main__block-search__button'
            data-search-button='#{simpleSearchUrl}?search={mySearch}'
            data-bind-click='simpleSearch'
            data-target-selector='[data-search-#{searchSelector}=true]'
            data-table='#{simpleSearchUrl}'
            data-from-simple-search='true'
        ) Найти
        if searchResults !== undefined
            div(class='main__block-search__results')
            - var i = 1
            for searchResult in searchResults
                if i < 5
                    div(
                        class='main__block-search__result'
                        title='#{searchResult}'
                        data-search-value='#{searchResult}'
                        data-bind-click='toggleSearchFromExample'
                        data-target-selector='[data-search-#{searchSelector}=true]'
                    ) #{searchResult}
                    - i = i + 1;

    hr(class='main__block-hr')
    div(class='main__block-controls')
        for control in blockControls
            div(class='main__block-control',
                data-bind-click="showToggledForm #{control.clicks ? control.clicks.join(' ') : ''}"
                data-form-name='#{control.formName}'
                data-attrs='#{control.dataAttrs ? JSON.stringify(control.dataAttrs) : "{}"}'
            )
                div(class='main__block-control__number') #{control.id}
                div(class='main__block-control__text') #{control.name}

    block forms



- simpleSearchUrl = '';
- searchSelector = '';