div(class='main__menu-header')
    div(class='main__menu-header__collapse' title='Главное меню' data-bind-click='collapseMainMenu')
    div(class='main__menu-header__title') Главное меню
ul(class='main__menu-list' data-bind-onload='initMenu')
    li Субъекты
        ul
            li(
                data-bind-click='openNewTab',
                data-tab-name='subjects',
                data-tab-label='Субъекты',
                data-template='subjects-list',
                data-post-init='initDataTables bindClickView'
            ) Список субъектов
                span(class='ui-icon ui-icon-contact')
            li(class="ui-state-disabled") Добавить субъекта
                span(class='ui-icon ui-icon-circlesmall-plus')
        span(class='ui-icon ui-icon-contact')
    li(data-tab-name='operations') Транзакции
        ul
            li(
                data-bind-click='openNewTab',
                data-tab-name='transactions',
                data-tab-label='Транзакции',
                data-template='transactions-list',
                data-post-init='initDataTables bindClickView'
            ) Список транзакций
                span(class='ui-icon ui-icon-script')
            li(
                data-bind-click='openNewTab',
                data-tab-name='transactions-add',
                data-tab-label='Добавление транзакции',
                data-template='transactions-add',
                data-post-init='initAddForm'
            ) Добавить транзакцию
                span(class='ui-icon ui-icon-copy')
        span(class='ui-icon ui-icon-copy')
    li Операция
        ul
            li(
                data-bind-click='openNewTab',
                data-tab-name='operations',
                data-tab-label='Операции',
                data-template='operations-list',
                data-post-init='initDataTables bindClickView'
            ) Список операций
                span(class='ui-icon ui-icon-script')
            li(class="ui-state-disabled") Добавить операцию
                span(class='ui-icon ui-icon-circlesmall-plus')
        span(class='ui-icon ui-icon-script')
    li(data-tab-name='reports', class="ui-state-disabled") Отчеты
    li(data-tab-name='currencies', class="ui-state-disabled") Валюты
    li(data-tab-name='users', class="ui-state-disabled") Пользователи