block vars

div(class='main__block m-2x #{collapsedModifier}')
    i(class='fa fa-heart main__block-in-fav #{blockInFavModifier}' title='В избранном')
    i(class='fa fa-minus-square-o main__block-collapse' title='Схлопнуть блок')
    i(class='fa fa-plus-square-o main__block-uncollapse' title='Раскрыть блок')
    div(class='main__block-logo #{blockIcon}')
    div(class='main__block-title') #{blockTitle}
    div(class='main__block-search__container')
        input(class='main__block-search__input' placeholder='Введите запрос' autocomplete='off')
        div(class='main__block-search__button') Найти
        if searchResults !== undefined
            div(class='main__block-search__results')
            - var i = 1
            for searchResult in searchResults
                if i < 5
                    div(class='main__block-search__result' title='#{searchResult}') #{searchResult}
                    - i = i + 1;



    hr(class='main__block-hr')
    div(class='main__block-controls')
        for control in blockControls
            div(class='main__block-control', data-bind-click="showToggledForm", data-form-name=control.formName)
                div(class='main__block-control__number') #{control.id}
                div(class='main__block-control__text') #{control.name}

    block forms