div(class='main__menu-header')
    div(class='main__menu-header__collapse' title='Главное меню' data-bind-click='collapseMainMenu')
    div(class='main__menu-header__title') Главное меню
ul(class='main__menu-list')
    li(
        data-bind-click='openNewTab',
        data-tab-name='subjects',
        data-tab-label='Субъекты',
        data-template='subjects-list',
        data-post-init='initDataTables bindClickView'
        
    ) 
        span Субъекты
    li(
        data-bind-click='openNewTab',
        data-tab-name='operations',
        data-tab-label='Операции',
        data-template='operations-list',
        data-post-init='initDataTables bindClickView'
    )
        span Операции
    li(data-tab-name='reports')
        span Отчеты
    li(data-tab-name='operations')
        span Транзакции
    li(data-tab-name='currencies') 
        span Валюты
    li(data-tab-name='users') 
        span Пользователи